body {
  width: 100%;
  max-width: 1309px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  margin: 0;
}

/* Header */

.top-bar {
  background-color: #f72210;
  width: 100%;
}

.navbar-brand {
  height: 100%;
}

.side-nav {
  padding: 0;
}

.side-nav .fa-user {
  color: #fdc7c3;
  font-size: 100%;
  padding-right: 12px;
}

.side-nav .btn {
  padding: 0 12px;
  border: none;
  border-radius: 24px;
  font: bold 13px/24px "Roboto Condensed", sans-serif;
}

.top-bar button,
.top-bar i {
  margin-left: 1%;
}

.side-nav .navbar-toggler {
  border: none;
}

header .bottom-menu {
  padding: 0 1rem;
  height: 54px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #dedede;
}

/* Body  */
img {
  width: 100%;
  height: 100%;
}

/* Grid */
.story {
  margin: 1%;
}

.col-title {
  font-family: "Roboto Condensed", sans-serif;
  color: #9a9a9a;
  font-size: 16px;
  font-weight: bold;
}

.col1,
.col2,
.col3 {
  padding-left: 5px;
  padding-right: 5px;
}

.big-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'one' 'two' 'three';
  grid-gap: 2px;
}

/* Column 1 */
.col1 {
  grid-area: one;
}

/* Column 2 */
.col2 {
  grid-area: two;
}

.story-title {
  font-size: 13px;
  color: #818181;
  font-weight: bold;
}

.story-blocks img {
  width: 100%;
  height: auto;
}

/* Column 3 */
.col3 {
  grid-area: three;
}

.headshot {
  height: 63px;
  width: 63px;
  padding: 5px;
}

.head-author {
  text-transform: uppercase;
}

/* Sections */
.nw-icon {
  background: url("../img/logo-n1.svg") no-repeat #f72210;
  height: 29px;
  width: 28px;
  display: block;
  margin-right: 10px;
}

.section-title {
  border-bottom: 1px grey;
  margin-bottom: 10px;
  margin-top: 20px;
}

.section-title span {
  color: #333;
  font-weight: bold;
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
}

.article-title {
  font-size: 20px;
}

.title-link {
  color: #000;
  font-weight: 700;
}

.title-link:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

/* Group 1 */

.mag-cover-text {
  font-size: 18px;
  font-weight: bold;
}

/* Group 2 */

.img-w-sub {
  position: relative;
  min-height: 33px;
}

.img-w-sub .inner-subtitle {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
  padding: 1% 2%;
}

.img-w-sub .inner-subtitle a {
  color: #f72210;
  font-weight: bold;
}

.img-w-sub .inner-subtitle a:hover {
  text-decoration: none;
}

/* Combo */

.combo {
  width: 90%;
}

/* Subscribe */
.red-title {
  font-size: 16px;
  color: #f72210;
  font-weight: 700;
}

.subscribe-box {
  align-items: center;
  flex-direction: column;
  background-color: #f4f5f6;
  padding: 30px;
}

.subscribe-box img {
  height: 241px;
  width: 260px;
}

.subscribe-content {
  flex-direction: column;
}

.red-button {
  border: none;
  padding: 10px;
  background-color: #f72210;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
}

/* Newsletter */
.newsletter-box img {
  display: none;
  height: 356px;
  width: 183px;
}

.newsletter-content {
  padding: 30px;
  flex-direction: column;
}

/* Footer */
footer {
  margin-top: 20px;
  background-color: #fff;
}

.foot-line {
  flex-direction: column;
}

.logo-foot {
  height: 36px;
  width: 236px;
  margin: 0 15px 12px 0;
}

.share-icons {
  margin-bottom: 12px;
}

.share-icons i {
  font-size: 26px;
  margin-left: 10px;
}

.trademark {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  font-size: 13px;
}

li {
  padding: 5px;
}

#editions {
  font-weight: bold;
}

@media (min-width: 640px) {
  .big-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'one two' 'three three';
    grid-gap: 2px;
  }
}

@media (min-width: 768px) {
  .subscribe-box {
    flex-direction: row;
  }

  .newsletter-box img {
    display: initial;
    height: 233px;
  }

  .foot-line {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  header .bottom-list {
    width: 80%;
  }

  .nav-link {
    color: black;
  }

  .search .input-group .form-control {
    width: 60px;
    font-size: 11px;
    border: 0;
  }

  .input-group-btn .btn {
    background-color: white;
  }

  .big-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 'one two three';
    grid-gap: 2px;
  }
}
