body {
  width: 100%;
  max-width: 1309px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
  /* margin: 0;
  padding: 0; */
}
/* Navigation bar */
.top-bar {
  background-color: #f72210;
  width: 100%;
}

.navbar-brand {
  height: 100%;
}

.side-nav {
  padding: 0;
}

.side-nav .fa-user {
  color: #fdc7c3;
  font-size: 100%;
  padding-right: 12px;
}

.side-nav .btn {
  padding: 0 12px;
  border: none;
  border-radius: 24px;
  font: bold 13px/24px "Roboto Condensed",sans-serif;
}

.top-bar button,
.top-bar i {
  margin-left: 1%;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  border-color: #f72210 !important;
}


/* Body  */
img {
  width: 100%;
  height: 100%;
}

/* Grid */
.story {
  border: 1px solid black;
  margin: 1%;
}
.col-title{
  font-family: "Roboto Condensed", sans-serif;
  color:#9a9a9a;
  font-size: 16px;
  font-weight: bold;
}

.col1,
.col2,
.col3 {
  padding-left: 5px;
  padding-right: 5px;
}

.big-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'one' 'two' 'three';
  background-color: #2196F3;
  grid-gap: 2px;
}
/* Column 1 */
.col1 {
  grid-area: one;
  background-color: green;
}
/* Column 2 */
.col2 {
  grid-area: two;
  background-color: yellow;
}
/* Column 3 */
.col3 {
  grid-area: three;
  background-color: pink;
}

/* Sections */

.nw-icon {
    background: url('../img/logo-n1.svg') no-repeat #f72210;
    height: 29px;
    width: 28px;
    display: block;
    margin-right: 10px;
}

.section-title{
  border-bottom: 1px grey;
  margin-bottom: 10px;
  margin-top:20px;
}

.section-title span{
  color:#333;
  font-weight: bold;
  font-size: 19px;
  font-family: "Roboto Condensed",sans-serif;
}

.article-title{
  font-size: 20px;
}

.title-link {
  color:#000;
  font-weight: 700;
}

.title-link:hover {
  color:#000;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

/* Group 2 */

.group2 .img-w-sub {
  position: relative;
  min-height: 33px;
}
.group2 .img-w-sub .inner-subtitle {
  position: absolute;
  z-index: 1;
  bottom:0;
  background-color: #fff;
  color: #f72210;
  padding: 1% 2% 1%;
}
/* Subscribe */

/* Newsletter */

/* Footer */

footer {
  background-color: #fff;
}

.foot-line {
  flex-direction: column;
}

footer img {
  height: 36px;
  width: 236px;
  margin: 0 15px 12px 0;
}

.share-icons {
  margin-bottom: 12px;
}

.share-icons i{
  font-size: 26px;
  margin-left: 10px;
}

.trademark {
  margin-bottom: 12px;
  font-size: 12px;
  font-family: Arial;
}

/* ---------------------------
    Media Query (>640px) */
@media (min-width:640px) {
  .big-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'one two' 'three three';
    background-color: #2196F3;
    grid-gap: 2px;
  }
}

@media (min-width:767px) {
  .foot-line {
    flex-direction: row;
  }
}

@media (max-width:991px){
  /* Bottom Header */

  header .bottom-menu {
    display:none !important;
  }

}
/* ---------------------------
    Media Query (>991px) */
@media (min-width:992px) {



header .bottom-menu {
    padding:0 1rem !important;
    height: 54px;
    background-color: white;
    width: 100%;
    display:initial;
    border-bottom: 1px solid #dedede;
  }

  header .bottom-list {
    width: 80%;
  }

  .nav-link{
    color:black;
  }
  .search .input-group .form-control {
    width: 60px;
    font-size: 11px;
    border: 0px;

  }

.input-group-btn .btn{
  background-color: white;
}

  .big-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'one two three';
    background-color: #2196F3;
    grid-gap: 2px;
  }
}
